/* {
    border: 1px solid red !important;
}
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
/* @media only screen and (max-width: 500px) {
	p {
		display: none;
	}
}*/
a  {
	text-decoration: none;
	color: #808080;
}

h1 {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
h2 {
	font-size: 36px;
	font-weight: 400;
	color: #cfcfcf;
	margin-bottom: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
}
h3	{
	 font-size: 42px;
	 font-weight: 400;
	 color: #808080;
	 margin: 0px;
	 padding-bottom: 0px;
	 text-align: center;
	 text-align: top;
}
hr	{
	color: #d3d3d3;
	background-color: #d3d3d3;
	height: 5px;
}
p	{
	 margin-top: 0px;
	 padding-top: 0px;
	 
.flex-container {
  padding: 0;
  margin: 0 auto;
}

}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-top: 0px;
	margin-bottom: 0px;
    display: flex;
	flex-wrap: wrap;
	float: right;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4pic {
    width: 33.33%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;}

.col-4	{
	width: 33.33%;
	text-align: center;
	height: 50%;
	margin: 0px;
	padding: 0px;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-10right{
    width: 83.33%;
	text-align: right;
	color: grey;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
